#Data
    // выделить миксин на дату начала обучения и вынести в модель
    .lg-show
        .container-fluid.mt-5.px-xl-1.px-lg-1.px-md-0
            .py-2.px-xl-4.px-lg-2.m-md-3.mt-5.text-center
                .col-md-12.mx-auto.mb-5
                    h1.font-weight-bold.text-uppercase.text-center Java Основы
                .col-xl-11.col-lg-11.col-md-10.col-sm-12.border-left.border-right.border-top.border-dark.row.px-lg-1.px-sm-0.mx-auto
                    .col-lg-3.col-sm-3.text-left.pb-lg-2.pt-lg-3.pb-sm-1.pt-sm-2.d-flex.flex-column.justify-content-center
                        h6.text-center.text-uppercase
                            | Обучение по
                            br
                            |  выходным
                    .col-lg-3.col-sm-3.text-left.pb-lg-2.pt-lg-3.pb-sm-1.pt-sm-2.d-flex.flex-column.justify-content-center
                        h6.text-center.text-uppercase
                            | сб-вс
                            br
                            | 11:00 - 14:00
                    .col-lg-3.col-sm-3.text-left.pb-lg-2.pt-lg-3.pb-sm-1.pt-sm-2.d-flex.flex-column.justify-content-center
                        h6.text-center.text-uppercase
                            | Старт
                            br
                            | 09.06.2018
                    .col-lg-3.col-sm-3.text-left.pb-lg-2.pt-lg-2.pb-sm-1.pt-sm-1.d-flex.flex-column.align-content-center.justify-content-center
                        a.btn.btn-outline-light.text-uppercase.border-0.font-weight-bolder.px-0.py-3
                            h6.mb-0.underline.subscription-button(data-course='Java Основы') Записаться
                .col-xl-11.col-lg-11.col-md-10.col-sm-12.border.border-dark.row.px-lg-1.px-sm-0.mx-auto
                    .col-lg-3.col-sm-3.text-left.pb-lg-2.pt-lg-3.pb-sm-1.pt-sm-2.d-flex.flex-column.justify-content-center
                        h6.text-center.text-uppercase
                            | Обучение по
                            br
                            |  будням
                    .col-lg-3.col-sm-3.text-left.pb-lg-2.pt-lg-3.pb-sm-1.pt-sm-2.d-flex.flex-column.justify-content-center
                        h6.text-center.text-uppercase
                            | пн-вт
                            br
                            | 19:00 - 22:00
                    .col-lg-3.col-sm-3.text-left.pb-lg-2.pt-lg-3.pb-sm-1.pt-sm-2.d-flex.flex-column.justify-content-center
                        h6.text-center.text-uppercase
                            | Старт
                            br
                            | 21.05.2018
                    .col-lg-3.col-sm-3.text-left.pb-lg-2.pt-lg-2.pb-sm-1.pt-sm-1.d-flex.flex-column.align-content-center.justify-content-center
                        a.btn.btn-outline-light.text-uppercase.border-0.font-weight-bolder.px-0.py-3
                            h6.mb-0.underline.subscription-button(data-course='Java Основы') Записаться
            .py-2.px-xl-4.px-lg-2.m-md-3.mt-5.text-center
                .col-md-12.mx-auto.mb-5
                    h1.font-weight-bold.text-uppercase.text-center Java OOP
                .col-xl-11.col-lg-11.col-md-10.col-sm-12.border-left.border-right.border-top.border-dark.row.px-lg-1.px-sm-0.mx-auto
                    .col-lg-3.col-sm-3.text-left.pb-lg-2.pt-lg-3.pb-sm-1.pt-sm-2.d-flex.flex-column.justify-content-center
                        h6.text-center.text-uppercase
                            | Обучение по
                            br
                            |  выходным
                    .col-lg-3.col-sm-3.text-left.pb-lg-2.pt-lg-3.pb-sm-1.pt-sm-2.d-flex.flex-column.justify-content-center
                        h6.text-center.text-uppercase
                            | сб-вс
                            br
                            | 11:00 - 14:00
                    .col-lg-3.col-sm-3.text-left.pb-lg-2.pt-lg-3.pb-sm-1.pt-sm-2.d-flex.flex-column.justify-content-center
                        h6.text-center.text-uppercase
                            | Старт
                            br
                            | 09.06.2018
                    .col-lg-3.col-sm-3.text-left.pb-lg-2.pt-lg-2.pb-sm-1.pt-sm-1.d-flex.flex-column.align-content-center.justify-content-center
                        a.btn.btn-outline-light.text-uppercase.border-0.font-weight-bolder.px-0.py-3
                            h6.mb-0.underline.subscription-button(data-course='Java OOP') Записаться
                .col-xl-11.col-lg-11.col-md-10.col-sm-12.border.border-dark.row.px-lg-1.px-sm-0.mx-auto
                    .col-lg-3.col-sm-3.text-left.pb-lg-2.pt-lg-3.pb-sm-1.pt-sm-2.d-flex.flex-column.justify-content-center
                        h6.text-center.text-uppercase
                            | Обучение по
                            br
                            |  будням
                    .col-lg-3.col-sm-3.text-left.pb-lg-2.pt-lg-3.pb-sm-1.pt-sm-2.d-flex.flex-column.justify-content-center
                        h6.text-center.text-uppercase
                            | пн-вт
                            br
                            | 19:00 - 22:00
                    .col-lg-3.col-sm-3.text-left.pb-lg-2.pt-lg-3.pb-sm-1.pt-sm-2.d-flex.flex-column.justify-content-center
                        h6.text-center.text-uppercase
                            | Старт
                            br
                            | 21.05.2018
                    .col-lg-3.col-sm-3.text-left.pb-lg-2.pt-lg-2.pb-sm-1.pt-sm-1.d-flex.flex-column.align-content-center.justify-content-center
                        a.btn.btn-outline-light.text-uppercase.border-0.font-weight-bolder.px-0.py-3
                            h6.mb-0.underline.subscription-button(data-course='Java OOP') Записаться
            .py-2.px-xl-4.px-lg-2.m-md-3.mt-5.text-center
                .col-md-12.mx-auto.mb-5
                    h1.font-weight-bold.text-uppercase.text-center Java Developer
                .col-xl-11.col-lg-11.col-md-10.col-sm-12.border-left.border-right.border-top.border-dark.row.px-lg-1.px-sm-0.mx-auto
                    .col-lg-3.col-sm-3.text-left.pb-lg-2.pt-lg-3.pb-sm-1.pt-sm-2.d-flex.flex-column.justify-content-center
                        h6.text-center.text-uppercase
                            | Обучение по
                            br
                            |  выходным
                    .col-lg-3.col-sm-3.text-left.pb-lg-2.pt-lg-3.pb-sm-1.pt-sm-2.d-flex.flex-column.justify-content-center
                        h6.text-center.text-uppercase
                            | сб-вс
                            br
                            | 11:00 - 14:00
                    .col-lg-3.col-sm-3.text-left.pb-lg-2.pt-lg-3.pb-sm-1.pt-sm-2.d-flex.flex-column.justify-content-center
                        h6.text-center.text-uppercase
                            | Старт
                            br
                            | 09.06.2018
                    .col-lg-3.col-sm-3.text-left.pb-lg-2.pt-lg-2.pb-sm-1.pt-sm-1.d-flex.flex-column.align-content-center.justify-content-center
                        a.btn.btn-outline-light.text-uppercase.border-0.font-weight-bolder.px-0.py-3
                            h6.mb-0.underline.subscription-button(data-course='Java Developer') Записаться
                .col-xl-11.col-lg-11.col-md-10.col-sm-12.border.border-dark.row.px-lg-1.px-sm-0.mx-auto
                    .col-lg-3.col-sm-3.text-left.pb-lg-2.pt-lg-3.pb-sm-1.pt-sm-2.d-flex.flex-column.justify-content-center
                        h6.text-center.text-uppercase
                            | Обучение по
                            br
                            |  будням
                    .col-lg-3.col-sm-3.text-left.pb-lg-2.pt-lg-3.pb-sm-1.pt-sm-2.d-flex.flex-column.justify-content-center
                        h6.text-center.text-uppercase
                            | пн-вт
                            br
                            | 19:00 - 22:00
                    .col-lg-3.col-sm-3.text-left.pb-lg-2.pt-lg-3.pb-sm-1.pt-sm-2.d-flex.flex-column.justify-content-center
                        h6.text-center.text-uppercase
                            | Старт
                            br
                            | 21.05.2018
                    .col-lg-3.col-sm-3.text-left.pb-lg-2.pt-lg-2.pb-sm-1.pt-sm-1.d-flex.flex-column.align-content-center.justify-content-center
                        a.btn.btn-outline-light.text-uppercase.border-0.font-weight-bolder.px-0.py-3
                            h6.mb-0.underline.subscription-button(data-course='Java Developer') Записаться
    .md-show
        .container-fluid.mt-5.px-0
            .py-2.mb-md-3.mt-5.text-center
                .col-md-12.mx-auto.mb-5
                    h1.font-weight-bold.text-uppercase.text-center Java Основы
                .px-0.col-sm-7.text-left.mb-sm-5.p-sm-1.pl-0.filled-background
                    h5.text-right.font-weight-bolder.text-uppercase.mt-1.mb-0.mr-2 Обучение по выходным
                .mx-1.px-3.mb-5
                    .col-md-11.col-sm-12.border.border-dark.row.px-sm-0.mx-auto
                        .col-sm-4.text-left.mb-lg-2.mt-lg-3.mb-sm-1.mt-sm-2.d-flex.flex-column.justify-content-center.text-center.text-uppercase.font-weight-bolder
                            div
                                h5.mb-1 Старт
                                h5 09.06.2018
                            .block-barrier
                        .col-sm-4.text-left.mb-lg-2.mt-lg-3.mb-sm-1.mt-sm-2.px-0.d-flex.flex-column.justify-content-center.text-center.text-uppercase.font-weight-bolder
                            div
                                h5.mb-1 сб-вс
                                h5 11:00 - 14:00
                            .block-barrier
                        .col-sm-4.text-left.pb-lg-2.pt-lg-2.pb-sm-1.pt-sm-1.d-flex.flex-column.align-content-center.justify-content-center
                            a.btn.btn-outline-light.text-uppercase.border-0.font-weight-bolder.px-0.py-3
                                h6.mb-0.underline.subscription-button(data-course='Java Основы') Записаться
                .px-0.col-sm-7.text-left.mb-sm-5.p-sm-1.filled-background
                    h5.text-right.font-weight-bolder.text-uppercase.mt-1.mb-0.mr-2 Обучение по будням
                .mx-1.px-3
                    .col-md-11.col-sm-12.border.border-dark.row.px-sm-0.mx-auto.mb-5
                        .col-sm-4.text-left.mb-lg-2.mt-lg-3.mb-sm-1.mt-sm-2.d-flex.flex-column.justify-content-center.text-center.text-uppercase.font-weight-bolder
                            div
                                h5.mb-1 Старт
                                h5 21.05.2018
                            .block-barrier
                        .col-sm-4.text-left.mb-lg-2.mt-lg-3.mb-sm-1.mt-sm-2.px-0.d-flex.flex-column.justify-content-center.text-center.text-uppercase.font-weight-bolder
                            div
                                h5.mb-1 пн-вт
                                h5 19:00 - 22:00
                            .block-barrier
                        .col-sm-4.text-left.pb-lg-2.pt-lg-2.pb-sm-1.pt-sm-1.d-flex.flex-column.align-content-center.justify-content-center
                            a.btn.btn-outline-light.text-uppercase.border-0.font-weight-bolder.px-0.py-3
                                h6.mb-0.underline.subscription-button(data-course='Java Основы') Записаться
            .py-2.mb-md-3.mt-5.text-center
                .col-md-12.mx-auto.mb-5
                    h1.font-weight-bold.text-uppercase.text-center Java OOP
                .px-0.col-sm-7.text-left.mb-sm-5.p-sm-1.pl-0.filled-background
                    h5.text-right.font-weight-bolder.text-uppercase.mt-1.mb-0.mr-2 Обучение по выходным
                .mx-1.px-3.mb-5
                    .col-md-11.col-sm-12.border.border-dark.row.px-sm-0.mx-auto
                        .col-sm-4.text-left.mb-lg-2.mt-lg-3.mb-sm-1.mt-sm-2.d-flex.flex-column.justify-content-center.text-center.text-uppercase.font-weight-bolder
                            div
                                h5.mb-1 Старт
                                h5 09.06.2018
                            .block-barrier
                        .col-sm-4.text-left.mb-lg-2.mt-lg-3.mb-sm-1.mt-sm-2.px-0.d-flex.flex-column.justify-content-center.text-center.text-uppercase.font-weight-bolder
                            div
                                h5.mb-1 сб-вс
                                h5 11:00 - 14:00
                            .block-barrier
                        .col-sm-4.text-left.pb-lg-2.pt-lg-2.pb-sm-1.pt-sm-1.d-flex.flex-column.align-content-center.justify-content-center
                            a.btn.btn-outline-light.text-uppercase.border-0.font-weight-bolder.px-0.py-3
                                h6.mb-0.underline.subscription-button(data-course='Java OOP') Записаться
                .px-0.col-sm-7.text-left.mb-sm-5.p-sm-1.filled-background
                    h5.text-right.font-weight-bolder.text-uppercase.mt-1.mb-0.mr-2 Обучение по будням
                .mx-1.px-3
                    .col-md-11.col-sm-12.border.border-dark.row.px-sm-0.mx-auto.mb-5
                        .col-sm-4.text-left.mb-lg-2.mt-lg-3.mb-sm-1.mt-sm-2.d-flex.flex-column.justify-content-center.text-center.text-uppercase.font-weight-bolder
                            div
                                h5.mb-1 Старт
                                h5 21.05.2018
                            .block-barrier
                        .col-sm-4.text-left.mb-lg-2.mt-lg-3.mb-sm-1.mt-sm-2.px-0.d-flex.flex-column.justify-content-center.text-center.text-uppercase.font-weight-bolder
                            div
                                h5.mb-1 пн-вт
                                h5 19:00 - 22:00
                            .block-barrier
                        .col-sm-4.text-left.pb-lg-2.pt-lg-2.pb-sm-1.pt-sm-1.d-flex.flex-column.align-content-center.justify-content-center
                            a.btn.btn-outline-light.text-uppercase.border-0.font-weight-bolder.px-0.py-3
                                h6.mb-0.underline.subscription-button(data-course='Java OOP') Записаться
            .py-2.mb-md-3.mt-5.text-center
                .col-md-12.mx-auto.mb-5
                    h1.font-weight-bold.text-uppercase.text-center Java Developer
                .px-0.col-sm-7.text-left.mb-sm-5.p-sm-1.pl-0.filled-background
                    h5.text-right.font-weight-bolder.text-uppercase.mt-1.mb-0.mr-2 Обучение по выходным
                .mx-1.px-3.mb-5
                    .col-md-11.col-sm-12.border.border-dark.row.px-sm-0.mx-auto
                        .col-sm-4.text-left.mb-lg-2.mt-lg-3.mb-sm-1.mt-sm-2.d-flex.flex-column.justify-content-center.text-center.text-uppercase.font-weight-bolder
                            div
                                h5.mb-1 Старт
                                h5 09.06.2018
                            .block-barrier
                        .col-sm-4.text-left.mb-lg-2.mt-lg-3.mb-sm-1.mt-sm-2.px-0.d-flex.flex-column.justify-content-center.text-center.text-uppercase.font-weight-bolder
                            div
                                h5.mb-1 сб-вс
                                h5 11:00 - 14:00
                            .block-barrier
                        .col-sm-4.text-left.pb-lg-2.pt-lg-2.pb-sm-1.pt-sm-1.d-flex.flex-column.align-content-center.justify-content-center
                            a.btn.btn-outline-light.text-uppercase.border-0.font-weight-bolder.px-0.py-3
                                h6.mb-0.underline.subscription-button(data-course='Java Developer') Записаться
                .px-0.col-sm-7.text-left.mb-sm-5.p-sm-1.filled-background
                    h5.text-right.font-weight-bolder.text-uppercase.mt-1.mb-0.mr-2 Обучение по будням
                .mx-1.px-3
                    .col-md-11.col-sm-12.border.border-dark.row.px-sm-0.mx-auto.mb-5
                        .col-sm-4.text-left.mb-lg-2.mt-lg-3.mb-sm-1.mt-sm-2.d-flex.flex-column.justify-content-center.text-center.text-uppercase.font-weight-bolder
                            div
                                h5.mb-1 Старт
                                h5 21.05.2018
                            .block-barrier
                        .col-sm-4.text-left.mb-lg-2.mt-lg-3.mb-sm-1.mt-sm-2.px-0.d-flex.flex-column.justify-content-center.text-center.text-uppercase.font-weight-bolder
                            div
                                h5.mb-1 пн-вт
                                h5 19:00 - 22:00
                            .block-barrier
                        .col-sm-4.text-left.pb-lg-2.pt-lg-2.pb-sm-1.pt-sm-1.d-flex.flex-column.align-content-center.justify-content-center
                            a.btn.btn-outline-light.text-uppercase.border-0.font-weight-bolder.px-0.py-3
                                h6.mb-0.underline.subscription-button(data-course='Java Developer') Записаться