// 10th section
#Comments.container-fluid.mt-5
    .p-2.m-md-3.mt-5.text-center
        .col-md-12.mx-auto.my-5
            h1.font-weight-bold.text-uppercase.text-center Java OOP
        .col-xl-10.offset-xl-1.col-lg-12.offset-lg-0.row.text-center
            #hypercomments_widget_oop
            script(type='text/javascript')#OOPScript.
                _hcwp = window._hcwp || [];
                _hcwp.push({widget: "Stream", widget_id: 60062});
                (function () {
                    if ("HC_LOAD_INIT" in window) return;
                    HC_LOAD_INIT = true;
                    var lang = (navigator.language || navigator.systemLanguage || navigator.userLanguage || "en").substr(0, 2).toLowerCase();
                    var hcc = document.createElement("script");
                    hcc.type = "text/javascript";
                    hcc.async = true;
                    hcc.src = ("https:" == document.location.protocol ? "https" : "http") + "://w.hypercomments.com/widget/hc/60062/" + lang + "/widget.js";
                    var s = document.getElementById("OOPScript");
                    s.parentNode.insertBefore(hcc, s.nextSibling);
                    HC_LOAD_INIT = false;
                })();