-
    var url = require('./../../variables-for-templates').url

.container-fluid.px-xl-3.px-lg-0
    // Fourth block
    .position-relative.overflow-hidden-block.text-center
        .col-md-12.mb-5.pb-5.offset-md-2.mx-auto
            h1.font-weight-bold.text-uppercase Почему студенты выбирают IT-center?
        .col-xl-11.col-lg-11.col-md-12.mx-auto.col-sm-12.row.px-lg-1.px-md-2
            .col-lg-6.offset-lg-0.col-md-12.col-md-hor-6.p-4
                .course-auditory-image.col-lg-12.border-dark.border-bottom.border-top.border-left.border-right
                    h6.auditory-description.h6-increase
                        span
                            | ДЛЯ ТЕХ, КТО ХОЧЕТ СТАТЬ ПРОГРАММИСТОМ И ПОНЯЛ, ЧТО ДЛЯ ЭТОГО НУЖНО УЧИТЬСЯ У ПРОГРАММИСТА
                    img.col-md-12.offset-md-0(src=url + '/images/for-whoes/b4foto1.jpg', alt='')
            .col-lg-6.offset-lg-0.col-md-12.col-md-hor-6.p-4
                .course-auditory-image.col-lg-12.border-dark.border-bottom.border-top.border-left.border-right
                    h6.auditory-description.h6-increase
                        span
                            | ДЛЯ ТЕХ, КТО РАНЕЕ НЕ СТАЛКИВАЛСЯ С ПРОГРАММИРОВАНИЕМ И ХОЧЕТ ЗАЛОЖИТЬ ПРОЧНЫЙ ФУНДАМЕНТ В ОСНОВАХ ПРОГРАММИРОВАНИЯ
                    img.col-md-12.offset-md-0(src=url + '/images/for-whoes/b4foto2.jpg', alt='')
            .col-lg-6.offset-lg-0.col-md-12.col-md-hor-6.p-4
                .course-auditory-image.col-lg-12.border-dark.border-bottom.border-top.border-left.border-right
                    h6.auditory-description.h6-increase
                        span
                            | ДЛЯ ТЕХ, КТО ХОЧЕТ ПОПРОБОВАТЬ НОВУЮ ПРОФЕССИЮ, НО СОМНЕВАЕТСЯ ПОЛУЧИТСЯ У НЕГО ИЛИ НЕТ
                    img.col-md-12.offset-md-0(src=url + '/images/for-whoes/b4foto3.jpg', alt='')
            .col-lg-6.offset-lg-0.col-md-12.col-md-hor-6.p-4
                .course-auditory-image.col-lg-12.border-dark.border-bottom.border-top.border-left.border-right
                    h6.auditory-description.h6-increase
                        span
                            | ДЛЯ ТЕХ, КТО САМОСТОЯТЕЛЬНО ЗАНИМАЛСЯ ПО ВИДЕО-УРОКАМ НА YOUTUBE, КНИГАМ И ХОЧЕТ СИСТЕМАТИЗИРОВАТЬ СВОИ ЗНАНИЯ В ОСНОВАХ
                    img.col-md-12.offset-md-0(src=url + '/images/for-whoes/b4foto4.jpg', alt='')
