-
    var url = require('./../../variables-for-templates').url

// 11th section
.container-fluid.mt-5
    .p-2.my-md-3.mx-lg-3.mx-md-1.mt-5.text-center
        .col-md-12.mx-auto.mb-5
            h1.font-weight-bold.text-uppercase.text-center Нас рекомендуют
        .col-xl-10.col-lg-12.col-md-12.mx-auto.text-center
            .row.mx-0
                .col-lg-6.col-md-12.col-md-hor-6.mt-lg-0.mt-md-5
                    img.recomendation-image(src=url + '/images/recomendations/gratitude2.jpg', alt='')
                .col-lg-6.col-md-12.col-md-hor-6.mt-lg-0.mt-md-5
                    img.recomendation-image(src=url + '/images/recomendations/gratitude1.jpg', alt='')