// 16th section
.container-fluid.mt-5.px-0
    .p-2.m-md-3.mt-5.text-center
        .col-md-12.mx-auto.mb-5
            h1.font-weight-bold.text-uppercase.text-center Записаться на пробное занятие
        .col-xl-11.mx-auto.col-lg-11.col-md-12.px-xl-3.px-lg-1.px-md-3.row.text-center
            .col-lg-6.col-md-hor-6.col-md-12
                p.text-left.text-uppercase.font-weight-bolder
                    span.font-weight-bold IT-CENTER
                    |  предлагает посетить
                    span.font-weight-bold 1 день курса Основы Java и убедится в качестве обучения
                    | , методике и просто познакомится с нами.
                p.text-left.text-uppercase.font-weight-bolder.mt-3
                    | Посетив данный урок
                    span.font-weight-bold Вы поймете, что программировать может каждый
                    | , главное делать это под руководством опытных преподавателей и задавать вопросы.
                p.text-left.text-uppercase.font-weight-bolder.mt-3
                    | Количество мест в группе ограничено&nbsp;
                    span.font-weight-bold.text-danger 10 мест!
                    br
                    |                     Для записи в группу нужно внести резерв за место в размере
                    span.font-weight-bold 250 грн.
                    br
                    |                     Эта сумма возвращается на следующий день, если Вам что-то не понравится.
            .col-lg-6.col-md-hor-6.col-md-12
                h3.text-uppercase.font-weight-bolder.px-5 Оставьте Ваши данные и наш менеджер свяжется с Вами
                //form.col-12.row.mx-0.px-0
                //    div.col-6.trying-lesson-field
                //        p.mt-3.h6.text-left Имя
                //        input.rounded-0.border-dark.form-control.border-bottom.border-left-0.border-top-0.border-right-0.col-12.px-3(placeholder='Введите Ваше имя')
                //    div.col-6.trying-lesson-field
                //        p.mt-3.h6.text-left Email
                //        input.rounded-0.border-dark.form-control.border-bottom.border-left-0.border-top-0.border-right-0.col-12.px-3(placeholder='Введите Ваш Email')
                //    div.col-12.trying-lesson-field
                //        p.mt-3.h6.text-left Вопрос
                //        input.rounded-0.border-dark.form-control.border-bottom.border-left-0.border-top-0.border-right-0.col-12.px-3(placeholder='Введите Ваш вопрос')
                //    div.col-12.trying-lesson-field
                //        a.mt-4.px-4.btn.btn-outline-light.border.border-dark.rounded-0.text-uppercase.font-weight-bolder.btn-block
                //            | Записаться
                |  <?php echo do_shortcode( '[contact-form-7 id="7" title="Trying lesson"]' ); ?>
