// 10th section
#Comments.container-fluid.mt-5
    .p-2.m-md-3.mt-5.text-center
        .col-md-12.mx-auto.my-5
            h1.font-weight-bold.text-uppercase.text-center Видео отзывы
        .col-xl-10.offset-xl-1.col-lg-12.offset-lg-0.row.text-center
            .row
                .col-lg-6.col-md-6.mt-3
                    iframe(width='540', height='304', src='https://www.youtube.com/embed/NkjGCy2m4EY?rel=0', frameborder='0', allowfullscreen='')
                .col-lg-6.col-md-6.mt-3
                    iframe(width='540', height='304', src='https://www.youtube.com/embed/64d27xODv2I?rel=0', frameborder='0', allowfullscreen='')
                .col-lg-6.col-md-6.mt-3
                    iframe(width='540', height='304', src='https://www.youtube.com/embed/gZjtwfIV-o0?rel=0', frameborder='0', allowfullscreen='')
                .col-lg-6.col-md-6.mt-3
                    iframe(width='540', height='304', src='https://www.youtube.com/embed/kr4yq5b5Tmw?rel=0', frameborder='0', allowfullscreen='')
                .col-lg-6.col-md-6.mt-3
                    iframe(width='540', height='304', src='https://www.youtube.com/embed/JeJAhaux9jI?rel=0', frameborder='0', allowfullscreen='')
                .col-lg-6.col-md-6.mt-3
                    iframe(width='540', height='304', src='https://www.youtube.com/embed/gZncn2k4PuM?rel=0', frameborder='0', allowfullscreen='')
                .col-lg-6.col-md-6.mt-3
                    iframe(width='540', height='304', src='https://www.youtube.com/embed/30Y94uL4vKY?rel=0', frameborder='0', allowfullscreen='')
