-
    var url = require('./../../variables-for-templates').url

.container-fluid
    // Second block
    .position-relative.overflow-hidden-block.text-center
        .col-lg-12.mt-5.pt-5
            .col-lg-12.mb-5.pb-5.mx-auto
                h1.font-weight-bold.text-uppercase Почему стоит изучать Java
            .col-xl-11.col-lg-12.col-md-12.mx-auto.row.px-xl-0.px-lg-4.px-md-3
                .col-lg-6.col-md-hor-6.col-md-12
                    .darken-container
                        .darken-photo
                            .darken-background.darken-right.pt-lg-2
                                h6.animated.text-light.px-3.py-lg-5.py-md-3.text-uppercase
                                    | Самый востребованный
                                    | и
                                    | популярный язык в мире
                            img.darken-image.darken-left(src=url + '/images/why-learn/b2foto1.jpg', alt='')
                .col-lg-6.col-md-hor-6.col-md-12
                    .darken-container.place-right
                        .darken-photo
                            .darken-background.darken-left
                                h6.animated.text-light.px-3.py-lg-5.py-md-4.text-uppercase
                                    | Более 80% гаджетов
                                    | работают на
                                    | Java, от микроволновых печей
                                    | до смартфонов
                            img.darken-image.darken-right(src=url + '/images/why-learn/b2foto2.jpg', alt='')
                .col-lg-6.col-md-hor-6.col-md-12
                    .darken-container
                        .darken-photo
                            .darken-background.darken-right.pt-lg-2
                                h6.animated.text-light.px-3.py-lg-5.py-md-3.text-uppercase
                                    | Платформа Android
                                    | Основана на
                                    | Java
                            img.darken-image.darken-left(src=url + '/images/why-learn/b2foto3.jpg', alt='')
                .col-lg-6.col-md-hor-6.col-md-12
                    .darken-container.place-right
                        .darken-photo
                            .darken-background.darken-left.pt-lg-2
                                h6.animated.text-light.px-3.py-lg-5.py-md-3.text-uppercase
                                    | GOOGLE РАЗРАБАТЫВАЕТ СВОИ ПРОДУКТЫ НА JAVA
                            img.darken-image.darken-right(src=url + '/images/why-learn/b2foto4.jpg', alt='')
