doctype html
html(lang='en')
    head
        script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-110612076-1')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-110612076-1');
        meta(charset='UTF-8')
        title Курсы по программированию
        link(rel='icon', type='image/x-icon', href='./favicon.ico')
    body
        style.
            /*Add fonts*/
            @font-face {
                font-family: acrom;
                font-weight: bold;
                src: url("./fonts/acrom900.otf") format("opentype");
            }
            @font-face {
                font-family: acrom600;
                src: url("./fonts/acrom600.otf") format('opentype');
            }
            @font-face {
                font-family: acrom;
                font-weight: initial;
                src: url("./fonts/acrom400.otf") format('opentype');
            }
            body {
                font-family: acrom, Lucida Grande, sans-serif;
            }
            .font-weight-bolder {
                font-family: acrom600, Lucida Grande, sans-serif;;
            }
        #Main.container-fluid.background-container.px-0.d-flex.flex-column.justify-content-between
            include pug/shared/header
            include pug/java-osnovi/landing-page
        include pug/shared/why-learn-block
        include pug/shared/career-block
        include pug/shared/for-whoes-block
        include pug/java-osnovi/format-block
        include pug/java-osnovi/how-goes-block
        include pug/java-osnovi/program-block
        include pug/java-osnovi/after-course-block
        include pug/shared/teachers-block
        include pug/java-osnovi/comments-block
        include pug/shared/recommendations-block
        include pug/shared/students-companies-block
        include pug/java-osnovi/prices-block
        include pug/java-osnovi/learning-start-block
        include pug/shared/questions-block
        include pug/shared/trying-lesson-block
        include pug/shared/contacts-block
        include pug/shared/footer
        include pug/java-osnovi/osnovi-modal
        include pug/shared/jivo-site

