.position-relative.overflow-hidden-block.p-lg-3.p-md-0.pt-md-0.my-lg-4.my-md-5.text-center.bg-transparent.text-light.start-info.d-flex.flex-column.justify-content-center
    div
        .col-xl-8.col-lg-10.mt-lg-2.mt-md-0.mb-4.pt-2.offset-lg-1.col-md-12.col-sm-12.mx-auto
            h1.font-weight-bold.text-uppercase.text-center.h1-lg-increase
                | Профессия
                br.
                | Java программист
        .col-md-8.p-3.p-md-4.my-md-3.offset-md-2.mx-auto.mt-lg-0.mt-md-2
            p.lead.font-weight-normal.text-uppercase
                | С нуля до должности Java Junior
                br.
                | + стажировка для лучших студентов
        .product-device.box-shadow.d-none.d-md-block
        .product-device.product-device-2.box-shadow.d-none.d-md-block