-
    var url = require('./../../variables-for-templates').url

// 17th section Этапы обучения на курсах Java
.container-fluid.mt-5
    .col-lg-10.col-md-12.mx-auto
        h1.display-5.font-weight-bold.text-uppercase.text-center.my-0.py-5 Этапы обучения на курсах Java
        .row.text-center
            .col-lg-4.col-md-hor-4.offset-md-hor-0.col-md-10.offset-md-1.offset-lg-0.mt-5
                h4.font-weight-bold.pt-3.h6-increase.text-uppercase Основы Java
                .step-learning.d-flex.flex-column.justify-content-between.align-items-center
                    .bg-etap.col-md-6.py-2.col-lg-4.text-uppercase.font-weight-bold 1 этап
                    p.px-3.py-3.h6-increase
                        | Курс предназначен для тех, кто ранее не сталкивался с программированием. А так же для тех, кто владеет базовыми знаниями и желает их "разложить по полочкам"
                    a.btn.btn-outline-light.text-uppercase.border.border-dark.rounded-0.font-weight-bolder.px-3.py-2.mb-3(href=url)
                        h6.mb-0.text-dark Подробнее
            .col-lg-4.col-md-hor-4.offset-md-hor-0.col-md-10.offset-md-1.offset-lg-0.mt-5
                h4.font-weight-bold.pt-3.h6-increase.text-uppercase Java OOP
                .step-learning.d-flex.flex-column.justify-content-between.align-items-center
                    .bg-etap.col-md-6.py-2.col-lg-4.text-uppercase.font-weight-bold 2 этап
                    p.px-3.py-3.h6-increase
                        | Желающие пройти курс Java OOП должны иметь представление о структурном программировании, знать синтаксис и уметь работать с основными конструкциями Java (типы данных, условия, циклы, массивы).
                    a.btn.btn-outline-light.text-uppercase.border.border-dark.rounded-0.font-weight-bolder.px-3.py-2.mb-3(href='http://it-centre.net/java-oop')
                        h6.mb-0.text-dark Подробнее
            .col-lg-4.col-md-hor-4.offset-md-hor-0.col-md-10.offset-md-1.offset-lg-0.mt-5
                h4.font-weight-bold.pt-3.h6-increase.text-uppercase Java Developer
                .step-learning.d-flex.flex-column.justify-content-between.align-items-center
                    .bg-etap.col-md-6.py-2.col-lg-4.text-uppercase.font-weight-bold 3  этап
                    p.px-3.py-3.h6-increase
                        | Курс предназначен для тех, кто ранее не сталкивался с программированием. А так же для тех, кто владеет базовыми знаниями и желает их "разложить по полочкам"
                    a.btn.btn-outline-light.text-uppercase.border.border-dark.rounded-0.font-weight-bolder.px-3.py-2.mb-3(href='http://it-centre.net/java-developer')
                        h6.mb-0.text-dark Подробнее
