.container-fluid.mt-5
    // Eighth block
    .p-2.m-md-3.mt-5.text-center
        .col-md-12.mx-auto.mb-5
            h1.font-weight-bold.text-uppercase.text-center После курса вы научитесь:
        .col-xl-11.px-0.col-lg-10.col-md-12.mx-auto.mt-5.text-left.row
            .col-lg-4.mt-4.col-md-12.col-md-hor-4
                .learn-block
                    .d-inline-flex
                        span.border.border-dark.learn-info.text-center.font-weight-bold 1
                    h6.learn-details.d-inline-block Ответите для себя на вопрос «А получится у меня или нет?»
            .col-lg-4.mt-4.col-md-12.col-md-hor-4
                .learn-block
                    .d-inline-flex
                        span.border.border-dark.learn-info.text-center.font-weight-bold 2
                    h6.learn-details.d-inline-block Синтаксису и основным конструкциям языка Java
            .col-lg-4.mt-4.col-md-12.col-md-hor-4
                .learn-block
                    .d-inline-flex
                        span.border.border-dark.learn-info.text-center.font-weight-bold 3
                    h6.learn-details.d-inline-block Программировать на Java программы начального уровня
            .col-lg-4.mt-4.col-md-12.col-md-hor-4
                .learn-block
                    .d-inline-flex
                        span.border.border-dark.learn-info.text-center.font-weight-bold 4
                    h6.learn-details.d-inline-block Писать консольные приложения с пользовательским интерфейсом
            .col-lg-4.mt-4.col-md-12.col-md-hor-4
                .learn-block
                    .d-inline-flex
                        span.border.border-dark.learn-info.text-center.font-weight-bold 5
                    h6.learn-details.d-inline-block Научитесь взаимодействовать с пользователями в своих программах
            .col-lg-4.mt-4.col-md-12.col-md-hor-4
                .learn-block
                    .d-inline-flex
                        span.border.border-dark.learn-info.text-center.font-weight-bold 6
                    h6.learn-details.d-inline-block
                        | Получите прочный фундамент знаний для дальнейшего обучения на
                        a(href='http://www.it-centre.net/java-oop/') курсе Java ООП
                        | .
