.container-fluid.mt-5
    // Sixth block
    .p-lg-2.p-xl-0.m-md-3.mx-md-3.mx-xl-0.mt-5.pb-3.text-center.text-uppercase
        .col-md-12.offset-md-2.mb-5.pb-5.mx-auto
            h1.font-weight-bold.text-uppercase Как проходит процесс обучения
        .col-xl-8.mx-auto.col-lg-10.col-md-12.mt-5.format-division.row.small
            .col-lg-3.col-3
                .col-lg-12.format-graph.px-1.filled-background Начало
                .graph-arrow
            .col-lg-3.col-3
                .col-lg-12.format-graph.px-1.border.border-dark Запись в группу
            .col-lg-3.col-3
                .col-lg-12.format-graph.px-1.border.border-dark Просмотр видео уроков
            .col-lg-3.col-3
                .col-lg-12.format-graph.px-1.border.border-dark Группа в скайпе
        .col-xl-8.mx-auto.col-lg-10.col-md-12.mt-5.format-division.row.small
            .col-lg-3.col-3
                .col-lg-12.format-graph.px-1.filled-background На занятии
                .graph-arrow
            .col-lg-3.col-3
                .col-lg-12.format-graph.px-1.border.border-dark Разбор Д/З
            .col-lg-3.col-3
                .col-lg-12.format-graph.px-1.border.border-dark Теория 40%
            .col-lg-3.col-3
                .col-lg-12.format-graph.px-1.border.border-dark Практика 60%
        .col-xl-8.mx-auto.col-lg-10.col-md-12.mt-5.format-division.row.small
            .col-lg-3.col-3
                .col-lg-12.format-graph.px-1.filled-background Между занятиями
                .graph-arrow
            .col-lg-3.col-3
                .col-lg-12.format-graph.px-0.border.border-dark Консультация в скайпе
            .col-lg-3.col-3
                .col-lg-12.format-graph.px-1.border.border-dark Доп. дни обучения
            .col-lg-3.col-3
                .col-lg-12.format-graph.px-2.border.border-dark Работа над д/з
        .col-xl-8.mx-auto.col-lg-10.col-md-12.mt-5.format-division.row.small
            .col-lg-3.col-3
                .col-lg-12.format-graph.px-1.filled-background После обучения
                .graph-arrow
            .col-lg-3.col-3
                .col-lg-12.format-graph.px-1.border.border-dark Разбор пройденного
            .col-lg-3.col-3
                .col-lg-12.format-graph.px-1.border.border-dark Диплом об окончании
            .col-lg-3.col-3
                .col-lg-12.format-graph.px-1.border.border-dark Запись на курс Java OOP
