.position-relative.overflow-hidden-block.p-lg-3.p-md-0.pt-md-0.my-lg-4.my-md-5.text-center.bg-transparent.text-light.start-info.d-flex.flex-column.justify-content-center
    div
        .col-xl-8.col-lg-10.mt-lg-2.mt-md-0.mb-4.pt-2.offset-lg-1.col-md-12.col-sm-12.mx-auto
            h1.font-weight-bold.text-uppercase.text-center.h1-lg-increase
                | Курс основы программирования на языке
                | Java
            h5.font-weight-bolder.mt-5.text-uppercase.h5-lg-increase
                | Курс рассчитан на людей с нулевым уровнем
                | знаний
        .col-md-8.p-3.p-md-4.my-md-3.offset-md-2.mx-auto.mt-lg-0.mt-md-2
            p.lead.font-weight-normal.text-uppercase Не уверен в своих силах? Запишись на пробный урок
            p.font-weight-normal.text-uppercase
                | Идет набор осталось&nbsp;
                span.text-warning.font-weight-bold 4
                |                     места
            a.btn.btn-outline-light.btn-lg.subscription-button.text-uppercase.col-xl-3.col-lg-4.col-md-8.rounded-0.py-2.px-3(href='#TryingLessonModal')
                span.h5 Записаться
        .product-device.box-shadow.d-none.d-md-block
        .product-device.product-device-2.box-shadow.d-none.d-md-block
