-
    var url = require('./../../variables-for-templates').url

// Modal window block
#Modal.modal-window.position-fixed
    .darken-background.modal-background.position-absolute.hide-modal
    .modal-wrapper.d-table
        .d-table-cell.align-middle
            .modal-content.col-xl-4.col-lg-5.col-md-8.rounded-0.bg-light.text-dark.p-1.mx-auto.box-shadow
                .position-absolute.col-12
                    .d-flex.flex-row-reverse
                        a.cursor-pointer.hide-modal
                            img(src=url + '/svg/clear.svg', alt='')
                .m-4.small
                .px-5.pb-3
                    h5.text-center Хотите оставить заявку? Оставьте Ваши контакты и мы свяжемся с Вами:
                    | <?php echo do_shortcode( '[contact-form-7 id="20" title="subscribe_form"]' ); ?>