#Program.container-fluid.mt-5
    // Seventh block
    .p-lg-2.px-xl-0.m-xl-0.m-lg-3.mt-5.text-center
        .col-md-12.offset-md-2.pb-4.my-5.mx-auto
            h1.font-weight-bold.text-uppercase.text-center Программа курса Java основы
        .col-xl-11.mx-auto.col-lg-12.col-md-12.mt-5.text-left.row
            .col-md-hor-4.col-lg-4.col-md-12.mb-5.pb-3
                .p-3.text-uppercase.border.border-dark.text-center.col-lg-8.col-md-4.mx-lg-0.mx-md-auto.col-md-hor-8
                    | Занятие 1
                h5.font-weight-bolder.mt-5.text-md-left.pl-md-4.pl-lg-0.text-lg-left.h5-increase
                    | 1.
                    | Инструментарий
                    | разработчика
                .pl-lg-3.mt-2
                    h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase -Установка JRE, JDK 8.
                    h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase -Установка Eclipse
                    h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase
                        | -Написание первой программы на
                        | Java
                h5.font-weight-bolder.mt-3.text-md-left.pl-md-4.pl-lg-0.text-lg-left.h5-increase
                    | 2.
                    | Переменные
                .pl-lg-3.mt-2
                    h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase -Назначение переменных
                    h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase
                        | -Основные операции с
                        | переменными
                    h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase
                        | -Особенности работы с
                        | переменными
                h5.font-weight-bolder.mt-3.text-md-left.pl-md-4.pl-lg-0.text-lg-left.h5-increase
                    | 3. Операции
                    | над
                    | переменными
                .pl-lg-3.mt-2
                    h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase -Арифметические операции
                    h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase -Инкремент и декремент
                    h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase
                        | -Особенности постфиксных и
                        | префиксных
                        | операций
                h5.font-weight-bolder.mt-3.text-md-left.pl-md-4.pl-lg-0.text-lg-left.h5-increase
                    | 4. Знакомство
                    | с классом Math
                .pl-lg-3.mt-2
                    h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase
                        | -Поиск максимального и
                        | минимального элемента
                    h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase -Операции округления чисел
                    h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase -Способы записи алгоритма
                    h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase
                        | -Квадратный корень и возведение в
                        | степень
            .col-md-hor-4.col-lg-4.col-md-12.mb-5.pb-3
                .p-3.text-uppercase.border.border-dark.text-center.col-lg-8.col-md-4.mx-lg-0.mx-md-auto.col-md-hor-8
                    | Занятие 2
                h5.font-weight-bolder.mt-5.text-md-left.pl-md-4.pl-lg-0.text-lg-left.h5-increase
                    | 1.
                    | Начальный ввод/вывод данных
                .pl-lg-3.mt-2
                    h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase
                        | -Вывод информации на экран
                        | консоли
                    h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase
                        | -Разбор класса Scanner, как одного
                        | из инструментов для ввода данных
                h5.font-weight-bolder.mt-3.text-md-left.pl-md-4.pl-lg-0.text-lg-left.h5-increase
                    | 2. Логические
                    | операции
                .pl-lg-3.mt-2
                    h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase -Логические операции
                    h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase -Операции сравнения
                h5.font-weight-bolder.mt-3.text-md-left.pl-md-4.pl-lg-0.text-lg-left.h5-increase
                    | 3. Условные операторы Java
                .pl-lg-3.mt-2
                    h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase -Оператор if
                    h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase -Оператор if-else
                    h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase -Ветвление алгоритма
                    h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase
                        | -Обзор вложенного и множественного
                        | ветвления
                    h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase -Оператор switch...case
            .col-md-hor-4.col-lg-4.col-md-12.mb-5.pb-3
                .p-3.text-uppercase.border.border-dark.text-center.col-lg-8.col-md-4.mx-lg-0.mx-md-auto.col-md-hor-8
                    | Занятие 3
                h5.font-weight-bolder.mt-5.text-md-left.pl-md-4.pl-lg-0.text-lg-left.h5-increase 1. Методы
                .pl-lg-3.mt-2
                    h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase -Основное назначение методов
                    h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase -Объявление и сигнатура метода
                    h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase -Модификаторы видимости методов
                    h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase -Статические и нестатические методы
                    h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase -Вызов метода из кода программы
                    h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase -Передача параметров в метод
                    h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase -Понятие и использование перегрузки методов
            #ProgramHidden.row.px-0.mx-0
                .col-md-hor-4.col-lg-4.col-md-12.mb-5.pb-3
                    .p-3.text-uppercase.border.border-dark.text-center.col-lg-8.col-md-4.mx-lg-0.mx-md-auto.col-md-hor-8
                        | Занятие 4
                    h5.font-weight-bolder.mt-5.text-md-left.pl-md-4.pl-lg-0.text-lg-left.h5-increase 1. Тестовые данные
                    .pl-lg-3.mt-2
                        h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase -Генерация случайных чисел с помощью метода Math.random()
                    h5.font-weight-bolder.mt-3.text-md-left.pl-md-4.pl-lg-0.text-lg-left.h5-increase 2. Циклические операторы
                    .pl-lg-3.mt-2
                        h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase -Разновидности циклов
                        h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase -Объявление и применение циклов
                        h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase -Как создать бесконечный цикл
                        h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase -Намеренный выход из цикла
                        h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase -Вложенные циклы
                    h5.font-weight-bolder.mt-3.text-md-left.pl-md-4.pl-lg-0.text-lg-left.h5-increase 3. Массивы
                    .pl-lg-3.mt-2
                        h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase -Назначение массивов
                        h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase -Одномерные массивы
                        h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase -Обход массива
                        h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase -Обзор многомерных массивов
                        h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase -Обход многомерного массива
                .col-md-hor-4.col-lg-4.col-md-12.mb-5.pb-3
                    .p-3.text-uppercase.border.border-dark.text-center.col-lg-8.col-md-4.mx-lg-0.mx-md-auto.col-md-hor-8
                        | ЗАНЯТИЕ 5
                    h5.font-weight-bolder.mt-5.text-md-left.pl-md-4.pl-lg-0.text-lg-left.h5-increase 1. Строки
                    .pl-lg-3.mt-2
                        h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase -Создание строк
                        h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase -Нюансы, которые возникают со String Pool
                        h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase -Сравнение строк
                        h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase -Объединение и конкатенация строк
                        h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase -Часто используемые методы класса String
                        h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase -Класс StringBuilder, как один из инструментов динамического создания строк
                    h5.font-weight-bolder.mt-3.text-md-left.pl-md-4.pl-lg-0.text-lg-left.h5-increase 2. Структура данных ArrayList
                    .pl-lg-3.mt-2
                        h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase -Обзор коллекции ArrayList
                        h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase -Создание и заполнение коллекций
                        h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase -Основные операции с коллекциями
                        h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase -Обход коллекции с помощью for...each
                        h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase -Преобразование коллекции в массив
                .col-md-hor-4.col-lg-4.col-md-12.mb-5.pb-3
                    .p-3.text-uppercase.border.border-dark.text-center.col-lg-8.col-md-4.mx-lg-0.mx-md-auto.col-md-hor-8
                        | Занятие 6
                    h5.font-weight-bolder.mt-5.text-md-left.pl-md-4.pl-lg-0.text-lg-left.h5-increase 1. Файлы
                    .pl-lg-3.mt-2
                        h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase -Назначение файлов
                        h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase -Создание файлов на диске из собственных программ
                        h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase -Чтение и запись данных в/из файл(-а)
                        h6.text-md-left.pl-md-5.pl-lg-0.text-lg-left.h6-increase -Обзор классов FileReader, FileWriter
            .col-lg-12.open-program
                h6.font-weight-bolder.text-uppercase.text-center.toggle-ref.text-primary
                    a#ProgramMessage
                        | Смотреть полностью
                        | программу курса
